{% extends "training/base.html" %}

{% block vis %}
<a href="/visualize">Visualize</a>
{% endblock %}

{% block content %}
<script>
    $(function() {
    $("#datepicker").datepicker({
        changeMonth:true,
        changeYear:true,
    });
    $("#datepicker").change(function() {
        dateFormat: 'dd-mm-yyyy'
        var date = new Date($(this).datepicker("getDate"));
        $("#placeholder").text(date);
        var year = date.getFullYear();
        var month = date.getMonth() +1;
        var day = date.getDate();
        window.location.href = "/athlete-dashboard/"+ year +"/"+ month +"/"+ day +"/choose"
        $('#day').text(day);
        $('#month').html(month +1);
        $('#year').html(year);
    });
    
});
</script>
<script>
    function handleFormSubmit(event) {
event.preventDefault();

const data = new FormData(event.target);

const dataContainer = Object.fromEntries(data.entries());

const results = document.querySelector('results__display')[0];
results.textContent = JSON.stringify(formJSON, null, 2);
};
</script>
<div class='container-fluid'>
    <div cass='row'>
        <div class='col align-self-center'>
            <h1 class='display-2'>Hello {{athlete.get_full_name}}</h1>
        </div>
    </div>
    <div class='row'>
        <p>Enter Date: <input type="text" id="datepicker"></p>
    </div>
</div>
{% endblock content %}