{% extends "training/baseAthlete.html" %}
{% load widget_tweaks %}


{% block content2 %}
{% if throwSchedule == None %}
    <div class="container">
        <div class="card">
            There is no throwing on the schedule for today!
        </div>
    </div>
{% elif throwSchedule != None %}
{% for throw in throw_data %}
    <div class="container">
        <div class="card">
            <h3>You have already completed the throwing planned for {{throw.throw_date}}!</h3>
        </div>
    </div>
{% empty  %}
<div class="container-fluid">
    <h1>The schedule for {{date}} is {{plan}}</h1>
    <div class="row">
        <div class="col">
            <div class='card'>
                <form id="throw-form">
                    {% for exercise in throwplan.throws.iterator %}
                    
                        <div class="col-2">
                            <p>{{exercise}}</p>
                        </div>
                        {% if exercise.throw_type == "T" %}
                        {% for set in exercise.setsToList  %}
                        <div class="row">
                            <div class="col-2">
                                <p>Set {{set}}</p>
                            </div>
                            {% for rep in exercise.repsToList %}
                            <div class="col-1">
                                <p> Rep {{rep}}<p>
                                <input type="number" name="{{exercise}}[Set-{{set}}][Rep-{{rep}}]:number" min="0" class="form-control" placeholder="velo">
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {% endif %}
                    
                    {% endfor %}
                </form>
            </div>
            <form id="throw" method="POST">
                {% csrf_token %}
                <input type="hidden" id="result" name='throw_data'></input>
                <button type="submit" id="subbut" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#subbut").on("click", function() {
            var obj = $('form').serializeJSON();
            delete obj.csrfmiddlewaretoken;
            delete obj.throw_data;
            var jsonString = JSON.stringify(obj, null, 2);
            $("#result").val(jsonString);
        })
        });
</script>
{% endfor %}
{% endif %}
{% endblock %}