{% extends "training/base.html" %}

{% block content %}
<div class="card">
    <div class="container">
        <h4>Welcome to Dylan Sund's Baseball Training Data Manager/Scheduler</h4>
        <p>
            This app is my senior capstone project for a B.S. in Data Analytics at Westmont College. 

        </p>
    </div>
</div>
<div class="card">
    <div class="container">
        <h5>Who is this for?</h5>
        <p>
            Initially, I wanted to be able to use this app for keeping track of my own stats for <b>Weight Lifting and Throwing</b>. My goal would be to have someone on the baseball team create an account and log some of their data into the database.
        </p>
    </div>
</div>
<div class="card">
    <div class="container">
        <h5>What are the goals of the project?</h5>
        <p>
            At the beginning, I didn't know what I needed to learn in order to create a webapp with Django. Throughout the creation so far, I have learned a little bit of
            <ol>
                <b>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>Django</li>
                    <li>and better Python</li>
                </b>
            </ol>
        </p>
        <p>
            The project will give the user the ability to plan workouts, enter their data, and visualize that data in tables or graphs. The visualization will be done automatically for the user. This allows for almost anyone to be able to learn from the data they have instead of just looking at it in an excel sheet or even a physical journal.
        </p>
    </div>
</div>
<div class="card">
    <div class="container">
        <h5>What have I done so far?</h5>
        <dl>
            <dt>Learning</dt>
            <dd>
                In order to even begin, I needed to teach myself the basics of HTML. I have seen slow progress, but it is also the most fun I have ever had while programming.
            </dd>
            <dt>Django Setup</dt>
            <dd>
                I don't have any experience with other web frameworks, but Django's ability to quickly get a real website running gave me the confidence I needed to dive deeper.
            </dd>
            <dt>Django Models</dt>
            <dd>I had prior experience with databases, so this was where I started with this project.</dd>
            <dt>URLs and Views</dt>
            <dd>
                The next logical step for me was to get the structure of my website figured out. 
            </dd>
        </dl>
    </div>
</div>
<div class="card">
    <div class="container">
        <h5><b>March 12th</b></h5>
        <dl>
            <dt>Templates</dt>
            <dd>I wanted to get acquainted with Django templates and how the code blocks are used to connect them together. Again, a LOT of learning and error. From the last update to now, I have crammed as much information into my brain as possible. This was the best way for me to learn the languages in a short time period. The drawback is that I have a lot of extraneous tags and code that needed to be cleaned up.</dd>
        </dl>
    </div>
</div>
<div class="card">
    <div class="container">
        <h5><b>April 3rd</b> | Current Goal</h5>
        <dl>
            <dt>Schedule</dt>
            <dd>The biggest feature that I do not have implemented yet was the calendar and scheduling aspect. Before the last milestone, I added some models that will support it. The goal is to have the front-end done. I ended up not using a traditional calendar that would show everyday of the month. The athlete is greeted with a dashboard upon logging in. This dashboard has a datepicker that will show the workouts planned on the day that is chosen.</dd>
            <dt>DB Double Check</dt>
            <dd>With the completion of the scheduler, I needed new models for practice events to keep track and limit an athlete to one event of each type per day.</dd>
        </dl>
        <div class="card">
            <div class="container">
                <h5><b>Stretch Goals</b></h5>
                <dl>
                    <dt>Plan Some Workouts</dt>
                    <dd>I wanted to write out some workouts for each category (Lifting, Throwing, Pitching) so that I could see the scheduler in action.</dd>
                    <dt>Data Entry</dt>
                    <dd>With sample workouts, I will be able to login as a coach, assign a lift to an athlete, and make sure that the athlete can see that in his schedule. The next step is then to write up the forms for data entry and eventually visualization</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class='card'>
    <div class='container'>
        <h5><b>May 5th</b> | Final Presentation</h5>
        <dl>
            <dt>Visualize</dt>
            <dd>The last part, as far as Django and Python goes, is to take the data that athletes enter and show it in a helpful way. This will be done with a project called Graphos. Graphos is a Django app that is used to create charts in html.</dd>
            <dt>Clean up my Project</dt>
            <dd>As I have learned, I have found better ways to write a lot of the code I have. There are better ways to abstract the templates and structure them. I have some that are unused now, but they have some code I would like to save.</dd>
        </dl>
        <div class='card'>
            <div class='container'>
                <h5><b>Stretch Goals</b></h5>
                <dl>
                    <dt>Data Entry</dt>
                    <dd>I still need to write out some workouts and throwing exercises for my athletes to do. I have a couple, but I would like to be able to use more in the visualizations.</dd>
                    <dt>Improve the Look</dt>
                    <dd>Right now, the website doesn't look particularly great. It gets the job done(kinda), but I would like to stretch my CSS abilities to make it look beautiful.</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock content %}